USE [master]
GO
/****** Object:  Database [LKMT2]    Script Date: 12/15/2022 8:28:11 PM ******/
CREATE DATABASE [LKMT2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LKMT2', FILENAME = N'E:\SQLDe\MSSQL15.MSSQLSERVER\MSSQL\DATA\LKMT2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LKMT2_log', FILENAME = N'E:\SQLDe\MSSQL15.MSSQLSERVER\MSSQL\DATA\LKMT2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LKMT2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LKMT2]
GO
/****** Object:  Table [dbo].[CC]    Script Date: 12/15/2022 8:28:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CC](
	[TENSP] [char](50) NOT NULL,
	[LOAISP] [char](20) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[CHIETKHAU] [float] NOT NULL,
	[THANHTIEN] [float] NOT NULL,
	[MACC] [char](20) NULL,
	[MASP] [char](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 12/15/2022 8:28:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[SOLUONG] [int] NOT NULL,
	[HANG] [text] NOT NULL,
	[MAHD] [char](20) NULL,
	[MASP] [char](20) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/15/2022 8:28:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [char](20) NOT NULL,
	[SANPHAM] [text] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [float] NOT NULL,
	[KHUYENMAI] [float] NOT NULL,
	[THANHTIEN] [float] NOT NULL,
	[MANV] [char](20) NULL,
 CONSTRAINT [HD_MAHD] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/15/2022 8:28:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [char](20) NOT NULL,
	[HOTEN] [text] NOT NULL,
	[SDT] [int] NOT NULL,
	[CCCD] [int] NOT NULL,
 CONSTRAINT [KH_MAKH] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUA]    Script Date: 12/15/2022 8:28:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUA](
	[SANPHAM] [text] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [float] NOT NULL,
	[THANHGIA] [float] NOT NULL,
	[MAHD] [char](20) NULL,
	[MAKH] [char](20) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 12/15/2022 8:28:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MACC] [char](20) NOT NULL,
	[TENHANG] [text] NOT NULL,
	[SLPP] [int] NOT NULL,
	[DIACHI] [char](50) NOT NULL,
 CONSTRAINT [NCC_MACC] PRIMARY KEY CLUSTERED 
(
	[MACC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/15/2022 8:28:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](20) NOT NULL,
	[HOTEN] [char](20) NOT NULL,
	[CCCD] [int] NOT NULL,
	[DIACHI] [char](20) NOT NULL,
	[SDT] [int] NOT NULL,
	[CHUCVU] [text] NOT NULL,
 CONSTRAINT [NV_MANV] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 12/15/2022 8:28:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [char](20) NOT NULL,
	[TENSP] [char](50) NOT NULL,
	[LOAISP] [char](20) NOT NULL,
	[HANG] [text] NOT NULL,
	[MAU] [text] NOT NULL,
 CONSTRAINT [SP_MASP] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 12/15/2022 8:28:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TAIKHOAN] [char](20) NOT NULL,
	[MATKHAU] [char](20) NOT NULL,
	[MAKH] [char](20) NULL,
	[MANV] [char](20) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[CC] ([TENSP], [LOAISP], [SOLUONG], [CHIETKHAU], [THANHTIEN], [MACC], [MASP]) VALUES (N'HUNTSMAN TOURNAMENT EDITION                       ', N'BAN PHIM            ', 10, 20, 28712000, N'001-RAZER-KB        ', N'KB-RZ01-BLACK       ')
INSERT [dbo].[CC] ([TENSP], [LOAISP], [SOLUONG], [CHIETKHAU], [THANHTIEN], [MACC], [MASP]) VALUES (N'BLACKWINDOWS V3 TENKEYLESS                        ', N'BAN PHIM            ', 10, 20, 25752000, N'001-RAZER-KB        ', N'KB-RZ04-BLACK       ')
INSERT [dbo].[CC] ([TENSP], [LOAISP], [SOLUONG], [CHIETKHAU], [THANHTIEN], [MACC], [MASP]) VALUES (N'DEATHADDER ESSENTIAL ERGONOMIC                    ', N'CHUOT               ', 5, 10, 3146000, N'002-RAZER-CM        ', N'CM-RZ14-WHITE       ')
GO
INSERT [dbo].[CHITIETHOADON] ([SOLUONG], [HANG], [MAHD], [MASP]) VALUES (1, N'RAZER', N'HD-001              ', N'KB-RZ04-BLACK       ')
INSERT [dbo].[CHITIETHOADON] ([SOLUONG], [HANG], [MAHD], [MASP]) VALUES (2, N'RAZER', N'HD-002              ', N'CM-RZ14-WHITE       ')
INSERT [dbo].[CHITIETHOADON] ([SOLUONG], [HANG], [MAHD], [MASP]) VALUES (1, N'JBL', N'HD-003              ', N'BS-JBL24-RED        ')
GO
INSERT [dbo].[HOADON] ([MAHD], [SANPHAM], [SOLUONG], [DONGIA], [KHUYENMAI], [THANHTIEN], [MANV]) VALUES (N'HD-001              ', N'BAN PHIM', 1, 3219000, 10, 2897000, N'NV-01-412           ')
INSERT [dbo].[HOADON] ([MAHD], [SANPHAM], [SOLUONG], [DONGIA], [KHUYENMAI], [THANHTIEN], [MANV]) VALUES (N'HD-002              ', N'CHUOT', 2, 699000, 10, 1258000, N'NV-02-569           ')
INSERT [dbo].[HOADON] ([MAHD], [SANPHAM], [SOLUONG], [DONGIA], [KHUYENMAI], [THANHTIEN], [MANV]) VALUES (N'HD-003              ', N'LOA', 1, 990000, 10, 981000, N'NV-01-087           ')
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [SDT], [CCCD]) VALUES (N'KH-01-023           ', N'HUYNH TUAN', 369002351, 79301234)
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [SDT], [CCCD]) VALUES (N'KH-01-223           ', N'DINH VIET TOAN', 369487623, 79301223)
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [SDT], [CCCD]) VALUES (N'KH-01-244           ', N'NGUYEN QUOC TAI', 369421157, 79301244)
GO
INSERT [dbo].[MUA] ([SANPHAM], [SOLUONG], [DONGIA], [THANHGIA], [MAHD], [MAKH]) VALUES (N'BANPHIM', 3, 3219000, 2897000, N'HD-001              ', N'KH-01-244           ')
INSERT [dbo].[MUA] ([SANPHAM], [SOLUONG], [DONGIA], [THANHGIA], [MAHD], [MAKH]) VALUES (N'CHUOT', 10, 699000, 1258000, N'HD-002              ', N'KH-02-991           ')
INSERT [dbo].[MUA] ([SANPHAM], [SOLUONG], [DONGIA], [THANHGIA], [MAHD], [MAKH]) VALUES (N'LOA', 8, 990000, 981000, N'HD-003              ', N'KH-01-223           ')
GO
INSERT [dbo].[NHACUNGCAP] ([MACC], [TENHANG], [SLPP], [DIACHI]) VALUES (N'001-RAZER-KB        ', N'RAZER', 50, N'300 LE VAN SY                                     ')
INSERT [dbo].[NHACUNGCAP] ([MACC], [TENHANG], [SLPP], [DIACHI]) VALUES (N'002-RAZER-CM        ', N'RAZER', 30, N'300 LE VAN SY                                     ')
INSERT [dbo].[NHACUNGCAP] ([MACC], [TENHANG], [SLPP], [DIACHI]) VALUES (N'003-JBL-BS          ', N'JBL', 25, N'413 NGUYEN THI MINH KHAI                          ')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [CCCD], [DIACHI], [SDT], [CHUCVU]) VALUES (N'NV-01-087           ', N'HOANG GIA BAO       ', 79301087, N'123 NGUYEN THI MIN  ', 898754123, N'Nhan Vien')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [CCCD], [DIACHI], [SDT], [CHUCVU]) VALUES (N'NV-01-412           ', N'NGUYEN HOANG GIA TRI', 79301412, N'280 GO DAU          ', 895631747, N'Nhan Vien')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [CCCD], [DIACHI], [SDT], [CHUCVU]) VALUES (N'NV-02-569           ', N'TRAN PHUONG LY      ', 79302569, N'259 AN DUONG VUONG  ', 902658713, N'Nhan Vien')
GO
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [LOAISP], [HANG], [MAU]) VALUES (N'BS-JBL24-RED        ', N'GO 3                                              ', N'LOA                 ', N'JBL', N'RED')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [LOAISP], [HANG], [MAU]) VALUES (N'BS-JBL25-BLUE       ', N'GO 2                                              ', N'LOA                 ', N'JBL', N'BLUE')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [LOAISP], [HANG], [MAU]) VALUES (N'CM-RZ13-YELLOW      ', N'PAD POKEMON PIKACHU                               ', N'CHUOT               ', N'RAZER', N'YELLOW')
GO
INSERT [dbo].[TAIKHOAN] ([TAIKHOAN], [MATKHAU], [MAKH], [MANV]) VALUES (N'USER01              ', N'*****               ', N'KH-01-023           ', N'NV-01-412           ')
INSERT [dbo].[TAIKHOAN] ([TAIKHOAN], [MATKHAU], [MAKH], [MANV]) VALUES (N'USER02              ', N'*****               ', N'KH-02-198           ', N'NV-02-569           ')
INSERT [dbo].[TAIKHOAN] ([TAIKHOAN], [MATKHAU], [MAKH], [MANV]) VALUES (N'USER03              ', N'*****               ', N'KH-01-223           ', N'NV-01-087           ')
GO
ALTER TABLE [dbo].[CC]  WITH CHECK ADD  CONSTRAINT [CC_MACC] FOREIGN KEY([MACC])
REFERENCES [dbo].[NHACUNGCAP] ([MACC])
GO
ALTER TABLE [dbo].[CC] CHECK CONSTRAINT [CC_MACC]
GO
ALTER TABLE [dbo].[CC]  WITH CHECK ADD  CONSTRAINT [CC_MASP] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CC] CHECK CONSTRAINT [CC_MASP]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [CTHD_MAHD] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [CTHD_MAHD]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [CTHD_MASP] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [CTHD_MASP]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [HD_MANV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [HD_MANV]
GO
ALTER TABLE [dbo].[MUA]  WITH CHECK ADD  CONSTRAINT [MUA_MANV] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[MUA] CHECK CONSTRAINT [MUA_MANV]
GO
ALTER TABLE [dbo].[MUA]  WITH CHECK ADD  CONSTRAINT [MUA_SP] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[MUA] CHECK CONSTRAINT [MUA_SP]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [TK_MAKH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [TK_MAKH]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [TK_MANV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [TK_MANV]
GO
USE [master]
GO
